/*A. Media Query Starts For 1920Px width devices, for 1920 Px or lesser devices*/
  @media(max-width:1920px){
	body{
		  overflow-x: hidden;
	}
    .navbar{
		height:95px;
		z-index:1;
	}  
	
	.bc1{
		transform:translate(3px,0px);
	}
	
	.nav-item{
	 margin-left:35px;
	}
	
	.nav-link{
	 font-size:22px;
	 font-style:italic;
	 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
    .bc{
      width: 100%;
      max-width:1100px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:1100px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:210px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:80px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:250px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:150px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:170px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:100px;
	}

	.footer_text{
	 color:black;
	 margin-left:530px;
	 font-size:45px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:400px;
		position:absolute;
		transform:translateY(-170px);
	}
	
	.social-icons{
		margin-left:600px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*B. Media Query Starts For 1680Px width devices, for 1680 Px or lesser devices*/
  @media(max-width:1680px){
	body{
		  overflow-x: hidden;
	}
    
  }

/*C. Media Query Starts For 1600Px width devices, for 1600 Px or lesser devices*/
  @media(max-width:1600px){
	body{
		  overflow-x: hidden;
	}
    
  }
/*D. Media Query Starts For 1440Px width devices, for 1440 Px or lesser devices*/
  @media(max-width:1440px){
	body{
		  overflow-x: hidden;
	}
    
  }
/*E. Media Query Starts For 1440Px width devices, for 1440 Px or lesser devices*/
  @media(max-width:1366px){
	body{
		  overflow-x: hidden;
	}  
	.navbar{
		height:95px;
		z-index:1;
	}  
	
	.bc1{
		transform:translate(3px,0px);
	}
	
	.nav-item{
	 margin-left:25px;
	}
	
	.nav-link{
	 font-size:20px;
	 font-style:italic;
	 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
	
	.bc{
      width: 100%;
      max-width:1100px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:1000px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:170px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:80px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:250px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:150px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:170px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:500px;
	 font-size:35px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:400px;
		position:absolute;
		transform:translateY(-170px);
	}
	
	.social-icons{
		margin-left:550px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*E. Media Query Starts For 1200Px width devices, for 1200 Px or lesser devices*/
  @media(max-width:1200px){
	body{
		  overflow-x: hidden;
	}
	.navbar{
		height:95px;
		z-index:1;
	}  
	
	.bc1{
		transform:translate(3px,0px);
	}
	
	.nav-item{
	 margin-left:9px;
	}
	
	.nav-link{
	 font-size:20px;
	 font-style:italic;
	 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
	
	.bc{
      width: 100%;
      max-width:900px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:860px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:150px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:120px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:310px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:200px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:280px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:400px;
	 font-size:35px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:450px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
	
/*F. Media Query Starts For 1080Px width devices, for 1080 Px or lesser devices*/
  @media(max-width:1080px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}  
	
	.bc1{
		transform:translate(3px,0px);
	}
	
	.nav-item{
	 margin-left:2px;
	}
	
	.nav-link{
	 font-size:18px;
	 font-style:italic;
	 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
	
	.bc{
      width: 100%;
      max-width:900px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:860px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:100px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:120px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:310px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:200px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:280px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:340px;
	 font-size:35px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:390px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*G. Media Query Starts For 1024Px width devices, for 1024 Px or lesser devices*/
  @media(max-width:1024px){
	body{
		  overflow-x: hidden;
	}  
    .navbar{
		height:95px;
		z-index:1;
	}  
	
	.bc1{
		transform:translate(3px,0px);
	}
	
	.nav-item{
	 margin-left:2px;
	}
	
	.nav-link{
	 font-size:17px;
	 font-style:italic;
	 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
	
    .bc{
      width: 100%;
      max-width:900px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:860px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:60px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:120px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:310px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:200px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:280px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:330px;
	 font-size:35px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:380px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }

  
/*H. Media Query Starts For 991Px width devices, for 991 Px or lesser devices*/
  @media(max-width:991px){
	 body{
		  overflow-x: hidden;
	}
	.navbar{
		height:95px;
		z-index:1;
	}  
	
	.bc1{
		transform:translate(3px,0px);
	}
	
	.nav-item{
	 margin-left:2px;
	}
	
	.nav-link{
	 font-size:16px;
	 font-style:italic;
	 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
	
	.bc{
      width: 100%;
      max-width:900px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:860px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:40px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:120px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:310px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:200px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:280px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:300px;
	 font-size:35px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:340px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*I. Media Query Starts For 800Px width devices, for 800 Px or lesser devices*/
  @media(max-width:800px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(300px,0px);
	}
	
	.nav-item{
	 margin-left:2px;
	}
	
    .nav-link{
	 font-size:22px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
		 background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.5); 
		 width:770px;
		 height:90px;
		 transform:translate(-145px,80px);
	}
	
	.bc{
      width: 100%;
      max-width:750px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:700px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:40px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:160px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:350px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:220px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:300px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:240px;
	 font-size:30px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:270px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*J. Media Query Starts For 768Px width devices, for 768 Px or lesser devices*/
  @media(max-width:768px){
	body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(300px,0px);
	}
	
	.nav-item{
	 margin-left:2px;
	}
	
    .nav-link{
	 font-size:20px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
		 background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.5); 
		 width:740px;
		 height:90px;
		 transform:translate(-145px,80px);
	}
	
	.bc{
      width: 100%;
      max-width:700px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:700px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:30px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:160px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:350px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:220px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:300px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:80px;
	}

	.footer_text{
	 color:black;
	 margin-left:240px;
	 font-size:30px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:270px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*K. Media Query Starts For 603Px width devices, for 603 Px or lesser devices*/
  @media(max-width:603px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(200px,0px);
	}
	
	.nav-item{
	 margin-left:2px;
	}
	
    .nav-link{
	 font-size:16px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
		 background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.5); 
		 width:580px;
		 height:90px;
		 transform:translate(-149px,80px);
	}
	
    .bc{
      width: 100%;
      max-width:540px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:500px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:35px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:160px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:400px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:220px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:350px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:60px;
	}

	.footer_text{
	 color:black;
	 margin-left:150px;
	 font-size:25px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:180px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*L. Media Query Starts For 533Px width devices, for 533 Px or lesser devices*/
  @media(max-width:533px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(30px,0px);
	}
	
	.nav-item{
	 margin-left:75px;
	}
	
    .nav-link{
	 font-size:24px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:360px;
		 height:360px;
		 transform:translate(45px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:420px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:390px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:60px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:180px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:500px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:280px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:400px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:60px;
	}

	.footer_text{
	 color:black;
	 margin-left:130px;
	 font-size:25px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:160px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*M. Media Query Starts For 480Px width devices, for 480 Px or lesser devices*/
  @media(max-width:480px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(30px,0px);
	}
	
	.nav-item{
	 margin-left:75px;
	}
	
    .nav-link{
	 font-size:24px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:360px;
		 height:360px;
		 transform:translate(45px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:420px;
      height: auto;
	  max-height:500px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:390px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:30px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:180px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:500px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:280px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:400px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:50px;
	}

	.footer_text{
	 color:black;
	 margin-left:110px;
	 font-size:23px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:137px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*N. Media Query Starts For 414 Px width devices, for 414 Px or lesser devices*/
  @media(max-width:414px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(10px,0px);
	}
	
	.nav-item{
	 margin-left:25px;
	}
	
    .nav-link{
	 font-size:22px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:260px;
		 height:340px;
		 transform:translate(45px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:360px;
      height: auto;
	  max-height:400px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:340px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:30px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:200px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:600px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:370px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:480px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:45px;
	}

	.footer_text{
	 color:black;
	 margin-left:90px;
	 font-size:22px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:127px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*O. Media Query Starts For 384Px width devices, for 384 Px or lesser devices*/
  @media(max-width:384px){
	 body{
		  overflow-x: hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(0px,0px);
	}
	
	.nav-item{
	 margin-left:25px;
	}
	
    .nav-link{
	 font-size:20px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:230px;
		 height:340px;
		 transform:translate(45px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:320px;
      height: auto;
	  max-height:400px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:300px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:27px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:200px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:610px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:380px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:520px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:40px;
	}

	.footer_text{
	 color:black;
	 margin-left:80px;
	 font-size:20px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:117px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*P. Media Query Starts For 375Px width devices, for 375 Px or lesser devices*/
  @media(max-width:375px){
	body{
		overflow-x : hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(0px,0px);
	}
	
	.nav-item{
	 margin-left:25px;
	}
	
    .nav-link{
	 font-size:20px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:230px;
		 height:340px;
		 transform:translate(45px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:320px;
      height: auto;
	  max-height:400px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:300px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:20px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:200px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:610px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:380px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:520px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:40px;
	}

	.footer_text{
	 color:black;
	 margin-left:80px;
	 font-size:20px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:117px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }
  
  
/*Q. Media Query Starts For 360Px width devices, for 360 Px or lesser devices*/
  @media(max-width:360px){
	body{
		overflow-x : hidden;
	} 
	.navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(0px,0px);
	}
	
	.nav-item{
	 margin-left:25px;
	}
	
    .nav-link{
	 font-size:20px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:230px;
		 height:340px;
		 transform:translate(45px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:320px;
      height: auto;
	  max-height:400px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:300px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:20px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:200px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:610px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:380px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:520px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:40px;
	}

	.footer_text{
	 color:black;
	 margin-left:70px;
	 font-size:20px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:107px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }	
  
  
/*R. Media Query Starts For 320Px width devices, for 320 Px or lesser devices*/
  @media(max-width:320px){
	body{
		overflow-x : hidden;
	} 
    .navbar{
		height:95px;
		z-index:1;
	}
	
    .bc1{
		transform:translate(0px,0px);
	}
	
	.nav-item{
	 margin-left:25px;
	}
	
    .nav-link{
	 font-size:20px;
	 font-style:italic;
	 
	}
	
	.navbar-nav{
	     background-color: rgb(0,0,0); 
         background-color: rgba(0,0,0,0.3); 
		 width:220px;
		 height:330px;
		 transform:translate(25px,0px);
	}
	
	.navbar-toggler { 
	  transform:translate(-15px,0px);
		
	}
	
    .navbar-toggler-icon{
	  font-size:20px;
	}
	
    .bc{
      width: 100%;
      max-width:280px;
      height: auto;
	  max-height:400px;
	}
	
	/*warning-yellow*/
    .divinfo{
	 margin-bottom:20px;
     padding: 14px 28px;
	 width:255px;
	 font-size:20px;
	 font-style:italic;
	 margin-left:20px;
	 
	}
	
	/*warning-yellow*/
	.warning {
      background-color:#ffff80;
      border-left: 6px solid #ffff00;
	  height:240px;
	  padding-top:8px;
	}
	
	
	.wan{
	 color:black;
	 margin-left:20px;
	}
	
	/*green*/
	.s{
	  background-color:#b3ffb3;
      border-right: 6px solid #006600;
	  height:800px;
	  padding-top:20px;
	  margin-top:20px;
	}
	
	.sp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*purple*/
	.k{
	  background-color:#ffccff;
      border-left: 6px solid #cc00cc;
	  height:480px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.kp{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	/*orange*/
	.a{
	  background-color:#ffcc99;
      border-right: 6px solid #ff3300;
	  height:620px;
	  padding-top:10px;
	  margin-top:20px;
	}
	
	.as{
	 color:black;
	 margin-left:20px;
	 margin-right:20px;
	}
	
	.footer{
		transform:translateY(-12px);
	}
	
	.social-icons img{
	 width:40px;
	}

	.footer_text{
	 color:black;
	 margin-left:60px;
	 font-size:20px;
	 font-style:italic;
	 padding-top:32px;
	 transform:translate(0px,-10px);
	}
	
	.footer_image{
		width:100%;
		height:230px;
		position:absolute;
		transform:translateY(-120px);
	}
	
	.social-icons{
		margin-left:90px;
		margin-bottom:50px;
		z-index:1;
		transform:translateY(-10px);
	}
  }	